<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Trinaesta beogradska gimnazija</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar navbar-default navbar-inverse navbar-expand-lg">
        <div class="container">
          <div class="navbar-header">
            <a href = "{% url "first_Page" %}" class="navbar-brand"> Trinaesta beogradska gimnazija</a>
          </div>

          <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a href="{% url "info_Page" %}" class="nav-link">Novosti <span class="sr-only"> </a>
              </li>
              <li class="nav-item active">
                <a href="#" class="nav-link">Udzbenici </a>
              </li>
              <li class="nav-item active">
                <a href="#" class="nav-link">O nama </a>
              </li>
              <li class="nav-item active">
                <a href="sections.html" class="nav-link">Skolske sekcije </a>
              </li>
              <li class="nav-item dropdown" aria-labelledby="navbarDropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Bibliteka
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Javne nabavke</a>
                  <a class="dropdown-item" href="#">Noc u bibliteci</a>
                  <a class="dropdown-item" href="#">Literalni konkurs</a>
                </div>
              </li>

              <li class="nav-item dropdown" aria-labelledby="navbarDropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Nastava
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Studijske razmene</a>
                  <a class="dropdown-item" href="#">Udzbenici</a>
                  <a class="dropdown-item" href="#">Rasporedi</a>
                  <a class="dropdown-item" href="#">Otvorena vrata</a>
                </div>
              </li>

            </ul>
          </div>
        </div>
    </nav>

    <h1 align="center">Skolske sekcije</h1>

    <div class="container">

      <hr color="black">

      <div class="row">
        <div class="col-md-4 col-xs-6" style="padding: 10px;">
          <a href="yeet.html" class="thumbnail">
          <div class="card bg-dark card-custom ">
            <img src="{% static "images/dobrocudni_ljudi.jpg" %}" class="card-img" alt="">
            <div class="card-img-overlay">
              <h5 class="card-title">Bizonovo smezurano mudo</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
          </a>
        </div>

        <div class="col-md-4 col-xs-6" style="padding: 10px;">
          <a href="" class="thumbnail">
          <div class="card bg-dark card-custom ">
            <img src="{% static "images/dramaturzi.jpg" %}" class="card-img" alt="">
            <div class="card-img-overlay">
              <h5 class="card-title">Bizonovo smezurano mudo</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
          </a>
        </div>

        <div class="col-md-4 col-xs-6" style="padding: 10px;">
          <a href="#" class="thumbnail">
          <div class="card bg-dark card-custom ">
            <img src="{% static "images/francuzi.jpg" %}" class="card-img" alt="">
            <div class="card-img-overlay">
              <h5 class="card-title">Bizonovo smezurano mudo</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
          </a>
        </div>

        <div class="col-md-4 col-xs-6" style="padding: 10px;">
          <a href="#" class="thumbnail">
          <div class="card bg-dark card-custom ">
            <img src="{% static "images/vulin.jpg" %}" class="card-img" alt="">
            <div class="card-img-overlay">
              <h5 class="card-title">Bizonovo smezurano mudo</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
          </a>
        </div>

        <div class="col-md-4 col-xs-6" style="padding: 10px;">
          <a href="#" class="thumbnail">
          <div class="card bg-dark card-custom ">
            <img src="{% static "images/infos.jpg" %}" class="card-img" alt="">
            <div class="card-img-overlay">
              <h5 class="card-title">Bizonovo smezurano mudo</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
          </a>
        </div>

        <div class="col-md-4 col-xs-6" style="padding: 10px;">
          <a href="#" class="thumbnail">
          <div class="card bg-dark card-custom ">
            <img src="{% static "images/sta.jpg" %}" class="card-img" alt="">
            <div class="card-img-overlay">
              <h5 class="card-title">Bizonovo smezurano mudo</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
          </a>
        </div>

        </div>
      </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
